/* Hide selection */
*::selection {
	background: transparent;
}

*::-moz-selection {
	background: transparent;
}

*::-webkit-selection {
	background: transparent;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}

/* Page header */

#header {
	color: #090909;
	text-align: center;
}

#header h1 {
	font-size: 2em;
}

/* General layout classes */

.sectionheader {
	padding: 4px;
	margin-top: 0;
}

.control {
	margin: 5px;
}

/* Tuner
 * FIXME: we may support multiple tuners so this should probably
 * be class rather than ID based */

#tuner {
	padding: 5px;
}

.lcd {
 	font-style: italic;
	font-weight: bold;
}

#tunerlcd {
	height: 136px;
/*	position: relative;*/
}

div.waterfall {
	height: 264px;
	position: relative;
	background-color: #090909;
}

canvas.waterfall {
	width: 100%;
	height: 264px;
	position: absolute;
}

#waterfall-canvas {
	z-index: 0;
}

#waterfall-scale-canvas {
	z-index: 1;
}

div.spectrum {
	height: 128px;
	position: relative;
	background-color: #090909;
}
canvas.spectrum {
	width: 100%;
	height: 128px;
	position: absolute;
}

#spectrum-canvas {
	z-index: 0;
}

#spectrum-scale-canvas {
	z-index: 1;
}


/* Receivers */

#rxtabs {

	padding: 5px;
}


.rxlcd {
	height: 136px;
	position: relative;
}

.rxoptions {


}
.rxcontrol {

}
.rxinfo {


}

/* Page footer */

#footer {
	font-size: 0.6em;
	margin-top: 10px;
	text-align: center;
}
